# ------------------------------
# Common
# ------------------------------
.DS_Store
Thumbs.db
*.log

# ------------------------------
# Environment variables
# ------------------------------
.env
.env.*

# ------------------------------
# Node modules
# ------------------------------
node_modules/

# ------------------------------
# Build folders
# ------------------------------
dist/
build/

# ------------------------------
# VS Code
# ------------------------------
.vscode/

# ------------------------------
# Runtime data
# ------------------------------
uploads/
tmp/
temp/

# ------------------------------
# MongoDB local files (if any)
# ------------------------------
/data
*.db
